@model Pet

<tr>
                                    <td>
                                        <img class="border rounded-circle"  src="~/ImgPets/@Html.DisplayFor(modelItem => @Model.Foto)" width="50">
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => @Model.Nome)</td>
                                    <td>
                                        @if(@Model.Perdido == true)
                                        {
                                            <span class="badge bg-danger">desaparecido</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-success">encontrado</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelModel => @Model.DataCricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelModel => @Model.Tipo)
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary search" data-id="@Html.DisplayFor(modelModel => @Model.Id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-placement="top" title="Vizualizar"><i class="bi bi-eye"></i></button>
                                        <a href="@Url.Action("Editar", "Painel", new { id = @Model.Id })" data-id="@Html.DisplayFor(modelModel => @Model.Id)"  class="btn btn-outline-success" data-bs-toggle="tooltip" data-bs-placement="top"><i class="bi bi-pencil"></i></a>
                                        <button type="button" class="btn btn-outline-danger deletar" data-id="@Html.DisplayFor(modelModel => @Model.Id)" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="bi bi-archive"></i></button>
                                    </td>
                                </tr>