@model PessoaViewModel

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
<div class="container p-4">
    <div class="row vh-100 align-items-center ">
        <partial name="_MensagemPartial"></partial>
        <div class="col-md-12 border rounded shadow">
            <h2 class="text-center mt-5 mb-1" style="font-weight: bold; color:#808080;">ADICIONAR PESSOA <i
                    style="font-size: 50px;" class="bi bi-people"></i></h2>
            <form class="row" asp-action="CadastrarPessoa" asp-controller="Painel" method="post"
                enctype="multipart/form-data">
                <div class="col-md-8">
                    <label asp-for="@Model.Nome" class="form-label"></label>
                    <input asp-for="@Model.Nome" class="form-control">
                    <span asp-validation-for="@Model.Nome" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Idade" class="form-label"></label>
                    <input asp-for="@Model.Idade" type="number" min="1" max="100" class="form-control"
                        id="inputPassword4">
                </div>
                <div class="col-md-8 mt-4">
                    <label class="form-label">Enfermidade(opicional)</label>
                    <select asp-for="@Model.EnfermidadePessoaId" class="form-select mb-1"
                        asp-items="ViewBag.CategoryId">
                        <option selected>
                            selecione
                        </option>
                    </select>
                    <a asp-action="CadastrarEnfermidadePessoa" asp-controller="Painel" style="margin-left: 5px;" class="link-primary">Adicionar Enfermidade</a>
                </div>
                <div class="col-md-4 mt-4 d">
                    <label style="margin-left: 15px;" for="">Categoria:</label>
                    <div class="d-flex mt-3">
                        <div class="form-check">
                            @Html.RadioButtonFor(x => x.Categoria, CategoriaPessoa.Crianca)
                            <label class="form-check-label" for="flexRadioDefault1">
                                Criança
                            </label>
                        </div>
                        <div class="form-check">
                            @Html.RadioButtonFor(x => x.Categoria, CategoriaPessoa.Adulto)
                            <label class="form-check-label" for="flexRadioDefault2">
                                Adulto
                            </label>
                        </div>
                        <div class="form-check">
                            @Html.RadioButtonFor(x => x.Categoria, CategoriaPessoa.Idoso)
                            <label class="form-check-label" for="flexRadioDefault2">
                                Idoso
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="mb-1">
                        <label for="formFile" class="form-label"></label>
                        <input asp-for="@Model.Profile" class="form-control" type="file">
                    </div>
                </div>
                <div class="col-12">
                    <div class="content3 mt-4">
                        <textarea name="Descricao" id="" cols="30" rows="5" asp-for="@Model.Descricao"></textarea>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center mt-1 mb-4">
                    <button class="btn bt p-1" type="submit">Adicionar</button>
                </div>
                <div class="col-12 mb-4">
                    <a asp-action="Pessoas" asp-controller="Painel" class="btn btn-outline-primary">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>