@model PainelViewModel
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3" style="height: 80vh;">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Foto</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data Criação</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Funçoes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Pets)
                {
                    <tr>
                        <td>
                            <img class="border rounded-circle"  src="~/img/gato.jpg" width="50">
                        </td>
                        <td>Mark</td>
                        <td>
                            @if(item.Perdido == true)
                            {
                                <span class="badge bg-danger">desaparecido</span>
                            }
                            else
                            {
                                <span class="badge bg-success">encontrado</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success search" data-id="@Html.DisplayFor(modelItem => item.Id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-pencil"></i></button>
                            <a href="@Url.Action("QrCode", "Painel", new { id = item.Id })" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="QR Code"><i class="bi bi-qr-code"></i></a>
                            <button type="button" class="btn btn-outline-danger deletar" data-id="@Html.DisplayFor(modelItem => item.Id)" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="bi bi-archive"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
            </table>

           
        </div>
        <div class="col-md-4">
            <div class="row card d-flex p-2"  style="height: 90vh;">
                <div class="col-12 d-flex flex-column h-100 p-1">
                    <h5 class="text-center mt-3 mb-4">INFORMAÇÕES</h5>
                    <div class="row d-flex justify-content-center align-items-center h-100 w-100">
                        <div class="mt-1 mb-4 col-12 d-flex justify-content-center rounded-circle">
                            <img class="border rounded-circle"  src="~/img/usuario.jpg" width="150">
                        </div>
                        <div class="col-12">
                            <ul class="d-flex flex-column justify-content-center align-items-start">
                                <li class="list-group-item">Nome: @Model.Usuario.UserName</li>
                                <li class="list-group-item mt-3">Telefone <span>@Model.Usuario.PhoneNumber</span></li>
                                <li class="list-group-item mt-3">Email: <span>@Model.Usuario.Email</span></li>
                                <li class="list-group-item mt-5 w-100 d-flex justify-content-center border rounded" style="background-color:#128c7f;"><a href="https://wa.me/5513988700724/" target="_blank" class="nav-link text-white"><i class="bi bi-whatsapp mr-4">&nbsp;&nbsp;WhastApp</i></a></li>
                                <li class="list-group-item mt-4 w-100 d-flex justify-content-center border rounded" style="background-color:#c25c67;"><a href="https://www.instagram.com/ricardodias169/" target="_blank" class="nav-link text-white"><i class="bi bi-instagram"">&nbsp;&nbsp;Instagram</i></a></li>
                                <li class="list-group-item mt-4 w-100 d-flex justify-content-center border rounded" style="background-color:#1298f6;"><a href="https://wa.me/5513988700724/" target="_blank" class="nav-link text-white"><i class="bi bi-facebook">&nbsp;&nbsp;Facebook</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 class="text-center">Deseja excluir mesmo esse Pet?</h6>
        <div class="d-flex justify-content-center p-2">
            <button type="button" class="btn btn-success sim">Sim</button>
            <button type="button" class="btn btn-danger mr-5">Não</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body update">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Update</button>
        <button type="button" class="btn btn-outline-primary input-disable"><i class="bi bi-key"></i></button>
      </div>
    </div>
  </div>
</div>

<script>
    const btn  = document.querySelectorAll('.search');
    const btnFechar  = document.querySelector('.close');
    let modal = document.querySelector('.update');

    btn.forEach(x => x.addEventListener('click', async ()=>{
        const local = window.location.host;
        const id = x.getAttribute('data-id');
        const url = `https://${local}/painel/buscar/${id}`;
        let response  = await fetch(url)
        if(response.ok){

            let result = await response.json();
            modal.insertAdjacentHTML('beforeend', 
            `
                <input type="text" class="form-control" id="nome" value="${result.nome}" disabled><br>
                <input type="text" class="form-control" id="raca" value="${result.raca}" disabled><br>
                <input type="checkbox" disabled id="perdido"${result.perdido == true ?  "" : "checked"} "><br>
                <textarea class="form-control" id="descricao"  cols="30" rows="5" disabled>${result.descricao}</textarea>
            `);
        }
    }))

    btnFechar.addEventListener('click', ()=>{
        modal.innerHTML = "";
    });


    const btnDeletar = document.querySelectorAll('.deletar');
    const btnSim = document.querySelector('.sim');
    btnDeletar.forEach(x => x.addEventListener('click', ()=>{
        const localDeletar = window.location.host;
        const idDeletar = x.getAttribute('data-id');
        btnSim.addEventListener('click', async ()=>{
            console.log(idDeletar);
            const urlNova = `https://${localDeletar}/painel/deletar/${idDeletar}`;
            let response  = await fetch(urlNova,{ method:"DELETE" });
             if(response.ok){
                window.location.reload();
            }  
        });
    }))
    

    const btnDisable  = document.querySelector('.input-disable');

    btnDisable.addEventListener('click',()=>{
        const inputNome = document.getElementById('nome');
        const inputRaca = document.getElementById('raca');
        const inputPerdido = document.getElementById('perdido');
        const inputDescricao = document.getElementById('descricao');
        inputNome.removeAttribute('disabled'); 
        inputRaca.removeAttribute('disabled'); 
        inputDescricao.removeAttribute('disabled');
        inputPerdido.removeAttribute('disabled');
    });


</script>